@font-face {
    font-family:'idroid';
    src: url(idroid.otf), format(otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebasnue';
    src: url(Fontfabric-BebasNeue/Bold.ttf), format(ttf);
    font-style: normal;
    font-weight: normal;
}
